@font-face {
    font-family: 'Figtree';
    src: url('/assets/fonts/static/Figtree-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    /* ExtraBold weight */
    font-style: normal;
}

@font-face {
    font-family: 'Figtree';
    src: url('/assets/fonts/static/Figtree-SemiBold.ttf') format('truetype');
    font-weight: 600;
    /* SemiBold weight */
    font-style: normal;
}

@font-face {
    font-family: 'Figtree';
    src: url('/assets/fonts/Figtree-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    /* Default weight for Italic */
    font-style: italic;
}

@font-face {
    font-family: 'Figtree';
    src: url('/assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    /* Variable font weight range */
    font-style: normal;
}

:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Figtree', sans-serif;

}

body {
    background-color: var(--yellow);
    display: grid;
    place-items: center;
    height: 100vh;
    padding: 0 1rem;
}

.card {
    width: 24rem;
    background-color: var(--white);
    padding: 1.5rem;
    border-radius: 1.25rem;
    border: 0.0625rem solid var(--gray-950);
    box-shadow: 0.5rem 0.5rem 0 0 black;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

h1,
p {
    line-height: 150%;
    letter-spacing: 0px;
    color: var(--gray-950);
}

.card img.main {
    border-radius: 1.25rem;
    max-width: 100%;
}

.card .content {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.card .content .badge {
    background-color: var(--yellow);
    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    font-weight: 700;
    display: inline-block;
}

.date p {
    font-size: 0.875rem;
}

h1 {
    font-size: 1.5rem;
    font-weight: 800;
    cursor: pointer;
}

h1:hover {
    color: var(--yellow);
}

.body p {
    color: var(--gray-500);
    font-size: 1rem;
}

.footer {
    display: flex;
    gap: 0.75rem;
}

.footer img {
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
}

.footer p {
    font-size: 0.875rem;
    font-weight: 800;
}

.attribution {
    font-size: 0.6875rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


@media (max-width: 768px) {
    .card {
        width: 100%;
        max-width: 90%;
        padding: 1rem;
    }
}